body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: image(workshop_in_progress);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
comment
h1 {
color: rgb(0, 255, 255);
font-size: 35px;
}